---
import MainHead from "../../components/MainHead.astro";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

---

<html lang="en">
	<head>
		<MainHead
			title="All Projects"
			description="Learn about Kaan's most recent projects"
		/>
		<style lang="scss">
			.grid {
				display: grid;
				grid-gap: 3rem;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="title mt4 mb4">All Projects</h1>
			<div class="grid">
				{
					projects.map((project) => (
						<PortfolioPreview project={project} />
					))
				}
			</div>
		</div>
		<Footer />
	</body>
</html>
