---
import { getAllPosts } from '../lib/client';
import { MoveRight, Newspaper, } from "lucide-react"
import { Button } from "@/components/ui/button"
import BlogSectionButton from './BlogSectionButton';

const data = await getAllPosts();
const allPosts = data.publication.posts.edges.slice(0,3);
---
<div class="bento-card col-span-3 md:col-span-2">
    <div class="flex flex-col h-full p-6 bg-background rounded-xl border-2 border-border shadow-md">
        <div class="flex items-center gap-2 mb-4">
            <Newspaper size={18} class="text-primary" />
            <h3 class="font-bold">Latest Articles</h3>
        </div>
        <ul class="space-y-3 mb-4">
            {allPosts.map((post) => (
                <li>
                    <a href={`https://blog.kaan.fyi/${post.node.slug}`} class="hover:underline font-medium">
                        {post.node.title}
                    </a>
                    <p class="text-sm">
                        {new Intl.DateTimeFormat('en-US', {
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric',
                        }).format(new Date(post.node.publishedAt))}
                    </p>
                </li>
            ))}
        </ul>
        <BlogSectionButton external />
    </div>
</div>
