---
import Nav from "./Nav.astro"
---
<header class="mb-12">
    <Nav />
    <div class="space-y-4">
        <h1 class="text-4xl font-bold tracking-tight">I'm a developer and such</h1>
        <p class="text-xl">
            I have many interests and excitations. Site is a work in progress... always.
        </p>
    </div>
</header>
